pre {
    white-space: pre-wrap;
    word-break: break-word;
}

code {
    font-size: 0.95em;
}

.files-mini {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    /* space between “cards” */
}

.files-mini td {
    vertical-align: top;
    padding: 0;
}

.file-left {
    width: 42%;
    padding-right: 12px;
}

.file-right {
    width: 58%;
}

.file-name code {
    font-size: 0.95em;
}

.file-meta {
    font-size: 12px;
    color: #6c757d;
    line-height: 1.25;
    margin-top: 2px;
}

.file-sri {
    word-break: break-word;
}

.file-right .copy-btn {
    margin-bottom: 6px;
}

.code-box {
    background: #111;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 10px 12px;
    border-radius: 0;
    /* square */
    overflow-x: auto;
    /* horizontal scroll */
    overflow-y: hidden;
    max-width: 100%;
}

.code-box code {
    color: #f1f1f1;
    white-space: nowrap;
    /* one line */
    display: inline-block;
}

.code-box::-webkit-scrollbar {
    height: 10px;
}